<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="../style/css/style.css">
</head>
<body>
  <header>

  </header>
  <main class="background">
    <div class="cover_dark">
      <div id="title_service"></div>
      <section>
        <form id="form_servico" method="post" novalidate></form>
        <form id="form_cliente" method="post" novalidate></form>
      </section>
    </div>
  </main>
  <footer>

  </footer>

  <!--scripts-->
  <script type="text/javascript" src="../../js/shared/ctrlShowHide.js"></script>
  <script type="text/javascript" src="../../js/shared/ajaxCalls.js"></script>
  <script type="text/javascript" src="../../js/shared/createHtmlElements.js"></script>
  <script type="text/javascript" src="../../js/shared/validation.js"></script>
  <script type="text/javascript" src="../../js/cabelereiro/script.js"></script>
</body>
</html>
